.c1 { background-color: rgb(244, 252, 142)}
.c2 { background-color: rgb(178, 235, 252)}
li { font-style: italic;}
label { display: inline-block; width: 6em;}
.negatif { color : red; font-style: italic;}