<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>appliWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <session-config>
     <session-timeout>2</session-timeout>
     <!-- session automatiquement detruite au bout de 2mn d'inactivité
          de la part de l'utilisateur -->
  </session-config>
  
  <!--  
  <servlet>
	<servlet-name>ServletTva</servlet-name>
	<servlet-class>fr.afcepf.al35.web.TvaServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>ServletTva</servlet-name>
	<url-pattern>/TvaServlet</url-pattern>
</servlet-mapping>
  -->
  <resource-ref>
	<description>reference vers le pool de cnx nécessaire</description>
	<res-ref-name>jdbc/myDB</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
</resource-ref>
  
</web-app>