<!DOCTYPE HTML>
<div xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}"
      layout:fragment="content">
    <br/>
     <div class="card">
			<div class="card-header bg-primary text-white">
			   virement interne (mini-banque) pour le client <span th:text="${numClient}"></span>
			   ( <span th:text="${session.numClient}"></span> )
			 </div>
      <div class="card-body">
	  <form class="form-horizontal" th:action="@{doVirement}"  
	        th:object="${virementForm}" method="POST">
			     <div class="form-group row">
				    <label class="control-label text-sm-right col-sm-4">numCptDeb:</label> <!-- <span id="spanIdProd"></span> -->
					<div class="col-sm-8">	
					    <!-- nb: syntaxe th:field en *{...} pour selectionner une sous partie 
					         de l'objet precisepar th:object du formulaire -->
						<select th:field="*{numCptDeb}" class="form-control">
	                          <option th:each ="cpt : ${listeCpt}" th:value="${cpt.numero}" th:utext="${cpt.numero} + ' - ' + ${cpt.label} + ' : ' + ${cpt.solde}"></option>
	                    </select>
					</div>
				</div>
				<div class="form-group row">
					<label class="control-label text-sm-right col-sm-4">numCptCred:</label>
					<div class="col-sm-8">
						<select th:field="*{numCptCred}" class="form-control" > 
	                         <option th:each ="cpt : ${listeCpt}" th:value="${cpt.numero}" th:utext="${cpt.numero} + ' - ' + ${cpt.label} + ' : ' + ${cpt.solde}"></option>
	                    </select>
					</div>
				</div>
				<div class="form-group row">
					<label class="control-label text-sm-right col-sm-4">montant:</label>
					<div class="col-sm-8">
					<input th:field="*{montant}" class="form-control" /> 
					
					</div>
				</div>
				
				<div class="form-group row">
					  <div class="col-sm-8 offset-sm-4">
					     <input  type="submit" class="btn btn-primary" value="effectuer virement" />
					  </div>
					  
				 </div>
			 </form>
		  </div><!-- end of card-body -->
	  </div><!-- end of card -->
<br/>
</div>   
