<!DOCTYPE HTML>
<div xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}"
     layout:fragment="content">
    <h1>Welcome Thymeleaf (for Authenticated user)</h1>
    <p>message=<b><span th:utext="${message}"></span></b></p>
    <hr/>
    <div sec:authorize="isAuthenticated()">
       <h3>authenticated user </h3>
       Logged user: <span sec:authentication="name">Unknown</span> <br/>
       Roles: <span sec:authentication="principal.authorities">[]</span> <br/>
    </div>
    <hr/>
    
    <a href="afterLogin">comptes du client (after spring security login)</a><br/>
    <a href="to-for-admin">for-admin</a><br/>
    
    <hr/>
    <a href="session-end">fin de session / deconnexion</a><br/>
    num session http/jee= <span th:text="${idSession}"></span>
    <hr/>
</div>
  
